.book {
    display:inline-block;
    text-align:center;
    justify-content:center;
    width:30%;
    height:100%;
    bottom:10px;
    border-radius:20px;
    background-color:lightgrey;
    margin:10px 10px 10px 10px; 
}
.image {
    margin: 10px auto;
    height:50%;
}
