@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.ul {
    display:inline-block;
    list-style-type: none;
    margin:0;
}
.li {
    display:inline-block;
    margin:10px 0px 0px 10px;
}
.heading {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height:1;
    font-size: 1200%;
    margin-top:10px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(-45deg, #94B9FF,
    #CDFFD8,#94B9FF
    );
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    width:1000px;
    padding-top: 2% ;
 
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}
.wrapper {
    width:100%;
    height:100%;
    display:inline;
}
.reader {
    display:inline-block;
    position:absolute;
    right:5%;
    top:11%;
    width:40%;
}